{% extends "base.html" %}

{% block content %}
<h1>Python Polling</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:search' %}" method="post">
{% csrf_token %}
<label for="question_text">Search Polls</label><br />
<input type="text" name="question_text" id="question_text" placeholder="Enter a keyword"
      pattern="\w*" required="required" title="Enter a keyword without spaces"/>
<input type="submit" value="Search" />
</form>

<div>
  <a href="{% url 'polls:index' %}">Current Polls</a>
  <a href="{% url 'admin:index' %}">Admin Site</a>
</div>
{% endblock %}